asgiref==3.8.1
boltons==25.0.0
certifi==2025.4.26
charset-normalizer==3.4.1
Django==5.2
django-cors-headers==4.7.0
django-extensions==4.1
djangorestframework==3.16.0
filefetcher==0.1.2
GeneLocator==1.1.2
idna==3.10
intervaltree==3.1.0
lmdb==1.6.2
msgpack==1.0.0
numpy==2.2.5
pandas==2.2.3
pysam==0.23.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
requests==2.32.3
scipy==1.15.3
setuptools==80.7.1
six==1.17.0
sortedcontainers==2.4.0
sqlparse==0.5.3
typesense==1.0.3
tzdata==2025.2
urllib3==2.4.0
zorp==0.3.8
